/* NAV BAR CSS */
.custom-navbar {
    background-color: #061638;
}

.navbar.custom-navbar .navbar-brand,
.navbar.custom-navbar .nav-link {
   font-family: 'Koulen', sans-serif;
   font-size: 25px;
   
}

/* WHO WE ARE */
.whoWeR {
    font-family: 'Koulen', sans-serif;
    font-size: 150px;
    color: #061638;
    margin-top: 140px;
    margin-bottom: 10px;
}

/* OUR COMPANY & THE WONDER GASOL STORY */
.historyWG {
    font-family: 'Koulen', sans-serif;
    font-size: 65px;
    color: #1E4AA8;
    text-align: center;
}

/* OUR COMPANY & THE WONDER GASOL STORY PARAGRAPH TEXT */
.historyText {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    color: black;
    text-align: justify;
}

/* IMAGE OF WONDER GASOL FACTORY AND DELIVERING LPG */
.WGFactory {
    margin-top: 40px;
    margin-bottom: 50px;
    border: solid black 1px;
    border-radius: 3px;
}

/* VISION & MISSION */
.custom-Vision {
    font-family: 'Koulen';
    color: #1E4AA8 ;
    font-size: 64px;
}

.custom-Mission {
    font-family: 'Koulen';
    color: #1E4AA8;
    font-size: 64px;
}

.VM-text {
    font-family: 'Inter';
    font-size: 25px;
    text-align: justify;
}


/* FOR FOOTER */
.custom-footer {
    background-color: #061638;
    color: white;
    font-size: 30px;
    font-family: 'Koulen', sans-serif;
    padding: 10px;
    margin-bottom: 0;
}