/* NAV BAR CSS */
.custom-navbar {
    background-color: #061638;
}

.navbar.custom-navbar .navbar-brand,
.navbar.custom-navbar .nav-link {
   font-family: 'Koulen', sans-serif;
   font-size: 25px;
   
}












/* FOR FOOTER */
.custom-footer {
    background-color: #061638;
    color: white;
    font-size: 30px;
    font-family: 'Koulen', sans-serif;
    padding: 10px;
    margin-bottom: 0;
}