/* NAV BAR CSS */
.custom-navbar {
    background-color: #061638;
}

.navbar.custom-navbar .navbar-brand,
.navbar.custom-navbar .nav-link {
   font-family: 'Koulen', sans-serif;
   font-size: 25px;
   
}



/* MOTTO OF WONDER GASOL */
.phraseWG{
    font-family: "Happy Monkey", sans-serif;
    font-size: 100px;
}

.custom-motto {
    margin-top: 90px;
}

.custom-lowerBlue{
    background-color: #1E4AA8;
}


/* BUTTON FOR DELIVERY AND PRODUCTS */
.hpBtn{
    font-family: 'Koulen', sans-serif;
    font-size: 50px;
    padding: 25px;
    border-radius: 51px;
    background-color: #061638;
    color: white;
}

/* FOLLOW...3 STEPS */
.custom-FollowSteps {
    font-family: 'Koulen', sans-serif;
    background-color: #1E4AA8;
    font-size: 90px;
    color: white;
    padding: 20px;
}

.custom-StepsText {
    font-size: 40px;
    margin: 0;
}

.custom-StepsTextBlue {
    font-size: 40px;
    color: #4DEDF3;
}